<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header">Flight Details</div>
      <div class="card-body">
        <table class="table table-hover">
          <thead></thead>
          <tbody>
            <tr>
              <th scope="row">Departure Airport Name</th>
              <td>{{flightDetail.departureAirportName}}</td>
            </tr>
            <tr>
              <th scope="row">Arrival Airport Name</th>
              <td>{{flightDetail.arrivalAirportName}}</td>
            </tr>
            <tr>
              <th scope="row">Departure Date</th>
              <td>{{flightDetail.departureDate}}</td>
            </tr>
            <tr>
              <th scope="row">Arrival Date</th>
              <td>{{flightDetail.arrivalDate}}</td>
            </tr>
            <tr>
              <th scope="row">Aircraft Type</th>
              <td>{{flightDetail.aircraftType}}</td>
            </tr>
            <tr>
              <th scope="row">Apron</th>
              <td>{{flightDetail.apron}}</td>
            </tr>
            <tr>
              <th scope="row">Pilot Name</th>
              <td>{{flightDetail.pilotName}}</td>
            </tr>
            <tr>
              <th scope="row">Co-Pilot Name</th>
              <td>{{flightDetail.coPilotName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
